.cart__item-info img {
  height: 45px;
  width: 45px;
  object-fit: cover;
}
.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}

.cart__product-price {
  font-size: 1rem;
  color: #df2020;
  font-weight: 600;
}
.delete__btn {
  background: #333;
  width: 25px;
  text-align: center;
  height: 25px;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

.increase__decrease-btn {
  background-color: rgba(241, 7, 7, 0.164);
}
.increase__btn,
.decrease__btn {
  cursor: pointer;
}
