.login__section {
  padding: 123px 0;
}
.auth__form {
  /* background: var(--primary-color); */
  background: #df20203a;
  padding: 40px;
  border-radius: 3px;
}
.auth__btn {
  background-color: #df2020 !important;
  color: #fff;
  border: none;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 30px;
}
