.product__item {
  border: 1px solid #fde4e4;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
}
.product__img {
  margin-bottom: 25px;
}
.product__content h5 {
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.product__content h5 a {
  color: #212245;
}
.product__price {
  font-weight: 600;
  font-size: 1.4rem;
  color: #df2020;
}
.addToCart__btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: #df3030;
  color: #fff;
  font-weight: 600;
}
